.header-navbar{
  margin-left: 10rem;
}

.navbar-main{
  background-color: #000000 !important ;
}

.navbar-items, #navbar-dropdown{
  padding-right: 3rem !important;
  color: #FFFFFF !important;
  /* font-family: Circular Std; */
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  padding-left: 0rem !important;
}

.signup-button{
  background: #FF9776;
  box-shadow: 0px 4.51897px 22.5948px rgba(255, 151, 118, 0.6);
  color: white;
  border: none;
  /* height: 40px; */
  width: 150px;
  padding: 0.5%;
  width: 150 px;
  overflow: hidden;
}

.getting-started{
  background-color:#000000 ;
  min-height: 100px;
  overflow: hidden;
  /* margin-top: ; */
}
.dashboard{
  padding-top: 56px;
}

.getting-started-text{
  background: #F9CC69;
  min-height: 100px;
  overflow: hidden;
  /* border-top-left-radius: 100px 25px; */
  border-top-right-radius:  100px 120px;
  border-bottom-right-radius:   100px 120px;
  /* background: linear-gradient(55deg, #F9CC69, #000000 ); */
  /* border-radius: 5% / 50% ; */
  /* border-right: 25px solid transparent; */
  /* padding-top: 3rem; */
  /* border-radius: 0px 300px 0px 0px; */
  /* padding: 3rem 0rem 3rem 0rem; */
  /* border-right: 50px solid transparent;
  border-left: 50px solid transparent; */
  /* transform: rotate(0deg 25deg 0deg 0deg); */
  /* border-radius: 0% 50 % 0% 0%; */
  /* -webkit-box-shadow: 0px -10px 5px 300px #fcfcfc; */
  /* box-shadow: 0px -10px 5px 300px #F15723; */
  /* z-index: -1; */
}

.getting-started-text::after{

}

.getting-started-image{
  display: table;
  margin: 0 auto;
  padding-left: 10rem;
  padding-top: 4rem;
}

.getting-started-heading{
  font-family: Circular Std;
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  color: #230D4D;
}

.getting-started-below-image-text{
  display: table;
  margin: 0 auto;
}

.getting-started-text{
  font-family: Circular Std;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #230D4D;

}

/* .fit-to-div-image{
  height: 100%;
  width: 100%;
  object-fit: contain;
} */
.roundUpOneImage{
  max-width: 100%;
  max-height: 75%;
}

.roundUpOneTwo{
  max-width: 100%;
  max-height: 75%;
  float: right;
  padding-right: 15%;
}

.color-white-text{
  color: #FFFFFF !important;
}

.getting-started-side-image{
  max-width: 100%;
  max-height: 80%;
  /* object-fit: contain; */
  display: block;
  margin-left: -6rem;
  padding-top: 2rem;
}

.dashboard-getting-started-text{
  display: table;
  margin: 0 auto;
  color: #FFFFFF;
  Size :26px;
  font-weight: bolder;
  line-height: 32px;
}

.remove-margin{
  margin-bottom: -2rem;
}

.hr{
  border: 2px solid ;
  color: #FFFFFF;
  background: #FFFFFF;
  width: 50%;
  display: table;
  margin: 0 auto; 
  margin-bottom: 2rem;  
}

.input-group-button{
  background: #FF9776;
  width: auto;
  padding: 2rem;
  height: 80px;
  box-shadow: 0px 4.51897px 22.5948px rgba(255, 151, 118, 0.6);

}

.input-group{
  width: 90% !important;
  margin: 0 auto 2rem 10rem; 
  margin: 0 auto !important;
  padding-bottom: 2rem;
}

.text-center{

}

.we-love-component{
  color:#161F3D;
  padding: 2rem 0rem 2rem 0rem;
}

.bg-blue{
  background: #161F3D;
}

.bg-orange{
  background: #FF9776;
}

.imageClassLeft{
  float: left;
  margin-left: 10rem;
}

.imageClassRight{
  float: right;
  margin-right: 11rem;
}

.we-love-heading{
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 71px;
  letter-spacing: 0px;
}


  .we-love-image {
    margin-right: 10rem;
    margin-top: -8rem;
  }

  .second-heading{
    font-weight: 400;
font-size: italic;
font-size: 46px;
  }

  .hr-heading{
    width: 10%;
  display: table;
  margin: 0 auto; 
  margin-bottom: 2rem;
  }

  .long-first-text{
    font-style: normal; 
    font-size: 26px;
    /* line-height: 42px;  */
  }

  .long-first-two{
    font-weight: 400; 
    font-style: normal; 
    font-size: 20px;
    line-height: 42px;
  }

  .shake-rattle-main{
    min-height: 100px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    justify-content: center;
  }

  .bg-black{
    background: #000000;
  }

  .bg-yellow{
    background: #F9CC69;
  }

  .font-white{
    color: #FFFFFF;
  }

  .font-purple{
    color: #230D4D;
  }

  

  .shake-rattle-image-text{
    text-align: center;
  }


  .shake-rattle-heading{
    padding-top: 2rem;
    font-size: 32px;
    line-height: 40.48px;
    font-weight: bold;
  }
  .shake-rattle-paragraph{
    font-family: Circular Std;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  padding: 2%;
  }

  .header-text-roundUp{
    text-align: center;
    font-weight: bold;
    font-size: 52px;
    line-height: 52px;
    color:#230D4D;
    padding-top: 3rem;
  }

  .roundUp-main{
    background: #FD926F;
    margin: 0 auto;
  }

  .roundup-header{
    font-weight: bold !important;
    font-size: 30px !important;
    line-height: 45.54px;
    padding-top: 2%;
    width: 70%;
  }

  .roundup-paragraph{
    width: 70%;
  }

  .roundup-header-right{
    font-weight: bold !important;
    font-size: 30px !important;
    line-height: 45.54px;
    padding-top: 2%;
    width: 72%;
    text-align: right;
  }

  .roundup-paragraph-right{
    width: 70%;
    text-align: revert;
    padding-left: 5%;
  }

  .app-feature-header{
    text-align: center;
    font-size: 52px;
    font-style: normal;
    font-weight: bold; 
    padding-bottom: 2%;
    
  }
  
  .app-feature-main{
    background: #F9CC69;
  }

  .app-feature-mobile{
    max-width: 100%;
    max-height: 100%;
  }

  .image-and-text{
    text-align: center;
  }

  .app-feature-header{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
  }

  .app-feature-paragraph{
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 30px;
    /* or 150% */

    text-align: justify;
  }
  
  .image-and-text{
    padding-bottom: 3%;
  }

  .cards-header{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 58px;
    text-align: center;
    margin-bottom: 2%;
    padding-top: 2%;
  }



  .cards-main{
    background: #000000;
    color: #FFFFFF;
  }

  .card-hr{
    color: #FFFFFF !important;
    border-bottom: 3px solid #FFFFFF;
    width: 40%;
    /* display: table; */
    margin: 0 auto;
    margin-bottom: 2%;
  }

  .card-image{
    height: 160px;

    width: 160px;
    background: #FFFFFF;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #000000;
    vertical-align: middle;
  }

  .card-image-dimensions{
    max-width: 80%;
    max-height: 100%; 
    padding-top: 5%;
  }

  .card-container{
    margin-top: 2%;
    margin-bottom: 5%;
  }

  .fav-cause-main{
    background: #230D4D;
    color: #FFFFFF;
    text-align: center;
  }

  .fav-cause-content{
    margin-bottom: 3rem;
  }

  .fav-cause-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 58px;
    text-align: center;
    padding-top: 2rem;

  }

  .our-mission-main{
    background: #F9CC69;
    color: #000000;
    text-align: center;
  }

  .our-mission-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 66px;
    /* identical to box height */
    text-align: center;
    margin-top: 3rem;
  }

  .our-mission-paragraph{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    /* or 170% */
    text-align: center;
  }

  .sub-headers{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 34px;
    /* identical to box height, or 106% */

    text-align: center;
  }

  .our-mission-get-started{
    width: 15%;
    margin-top: 1rem;
  }